<html>
<head>
	<title>Журнал регистрации носителей ключевой информации и программного обеспечения СКЗИ</title>
</head>
<body>
	{% for year in nkijournalyears %}
		<p><strong>Журнал регистрации носителей ключевой информации и программного обеспечения СКЗИ за {{ year.year|safe }}г.</strong></p>

		<table border=0 cellspacing=1 width="100%">
			<tr bgcolor=#DCDCDC>
				<th>Рег. номер</th>
				<th>Тип и серийный номер носителя</th>
				<th>От кого получен носитель</th>
				<th>Отметка об уничтожении</th>
				<th>Примечание</th>
			</tr>		

			{% for nki in year.nkijournal %}
				{% if nki.delete %}
					<tr bgcolor=#696969>
				{% else %}
					<tr bgcolor=#F5F5F5>
				{% endif %}

					<td>{{ nki.nki|safe }}</td>
					<td>{{ nki.nkitype|safe }}</td>
					<td>{{ nki.source|safe }}</td>
					<td>{{ nki.delete|safe }}</td>
					<td>{{ nki.note|safe }}</td>
				</tr>
			{% endfor %}
		</table>
	{% endfor %}

</body>
</html>